.tweet-post {
  border: 0.2em solid #70e676;
  background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
}

.tweet-header-footer {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tweet-message-div {
  width: 95%;
  margin: 0 auto;
  padding: 0.5em;
  border-bottom: #808080 solid 5px;
}

.tweet-post:hover {
  box-shadow: 0.25em 0.25em #008000;
}

.flag:hover {
  color: #ffd700;
}

.retweet:hover {
  color: #ffd700;
}

.heart:hover {
  color: #ffd700;
}